@font-face {
    font-family: "Lalezar";
    src: url(../assets/fonts/Lalezar/Lalezar-Regular.ttf) format("opentype");
}

@font-face {
    font-family: "lekton";
    src: 
    url(../assets/fonts/Lekton/Lekton-Bold.ttf) format("opentype"),
    url(../assets/fonts/Lekton/Lekton-Italic.ttf) format("opentype"),
    url(../assets/fonts/Lekton/Lekton-Regular.ttf) format("opentype");
    
}

:root{
    /*Colors*/

    --primary: #023047;
    --secondary: #E7D7C1;
    --white: #ffffff;

    /*border*/
    --border-radius: 100px;
    --border-color: #fff;
    --border: 4px solid;

    /*Font*/
    --primary-font: "Lalezar";
    --secondary-font: "lekton";

    --font-size-xxl: 75px;
    --font-size-xl: 35px;
    --font-size-l:24px;
    --font-size-m: 18px;
    --font-size-s: 14px;

    --primary-font-bold:700;
    --primary-font-regular: 400;
    --secondary-font-bold: 700;
    --secondary-font-regular:400;
    --secondary-font-italic: italic;
    
}

/*General css*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--primary);
    color: var(--white);
}

/*Header*/

.header--container{
    font-size: var(--font-size-xl);
    margin-bottom: 4em;
    
}

.header--container .titel{
    display: flex;
    flex-wrap: nowrap;

    margin: 2em;
}

.header--container h1{
    font-family: var(--primary-font);

    margin-right: .25em;
}

.header--container .textBig{
    font-size: var(--font-size-xxl);
}

.header--container p{
    font-family: var(--secondary-font);
    font-size: var(--font-size-s);
    width: 800px;
}

/*In the back*/

/*horizontal-scroll--container*/

.horizontal-scroll--container{
    display: flex;
    flex-wrap: nowrap;
}

.img{
    position: relative;
    z-index: 0;
    margin-right: 3em;

    border: var(--border);
    border-radius: var(--border-radius);
    border-color: var(--border-color);

    width: 400px;
    height: 400px; 
}

.textbox{
    position: relative;

    font-family: var(--secondary-font);
    font-weight: var(--secondary-font-bold);
    font-size: var(--font-size-l);

    background-color: var(--secondary);
    color: var(--primary);

    border: var(--border);
    border-color: var(--border-color);
    height: 50px;
    width: 200px;


}